.burger-container {
  background-color: rgb(246, 248, 250);
  padding: 1rem;
}

.card-container {
  background-color: white;
  margin: 2rem;
  padding: 2rem;
}

.burger-types-header {
  text-align: center;
  margin-top: 5rem;
}

.burger-types-header h3 {
  display: inline-flex;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 0.3rem;
}

.burger-types-header h1 {
  font-size: 3rem;
  margin: 1rem;
}

.burger-types-header p {
  font-size: 1.2rem;
  color: rgb(168, 168, 168);
}

.types-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  margin: 3rem auto;
}

.types-card-container .card {
  margin: 1.5rem;
}

.types-card-container p {
  color: rgb(168, 168, 168);
  font-size: 1.2rem;
  font-weight: 100;
}

.card-btn {
  display: flex;
  justify-content: center;
}

.burger-types-btn {
  padding: 1rem 2rem;
  margin: 2rem;
  border: 2px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  background-color: inherit;
  font-weight: 600;
}

.burger-types-btn:hover {
  color: white;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}
